{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <div class="col-6">
        <h2>L'article en question {{ article.title }} </h2>
            <p>{{ article.content }}</p>
        <p>La catégorie de cet article est : {{ article.category.name }}</p>
    </div>
{% endblock %}